* {
    font-family: 'Roboto Mono', monospace;
}

:root {
    --background: #4d4c4c;
    --background-light: #696969;
    --content: #c44d38;
    --light-orange: #ff9483;
    --light: #fff2f1;
}

body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid black;
    margin: 0 1rem;

}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 1rem;
}

.rounded {
    border-radius: 2rem;
    background-color: var(--background);
}

.indent {
    text-indent: 2rem;
}

.italic {
    font-style: italic;
}

.large-input {
    min-width: 20rem;
}

.color-link {
    color: var(--content)
}

button .disabled {
    background-color: dimgrey;
}

.icon {
    font-size: 2rem;
}

/* Main container */

#main-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}


/* Header */

.header {
    display: flex;
}

.header-title {
    flex: 10;
}

.header .icon a {
    text-decoration: none;
    color: black;
}

.header .icon {
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin: 0 2rem;
}

.header .icon:hover {
    cursor: pointer;
}

.header .icon i:hover, .icon span:hover {
    color: #c44d38;
}

.header .icon span, .icon span {
    font-size: 1.3rem;
    font-weight: bold;
}


/* Footer */

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-shrink: 0;
    padding: 1.5rem 5rem;
    color: white;
    background-color: var(--content);
}


/* Products container */

.products-container {
    display: flex;
}

#products-filter-form {
    width: fit-content;
    padding: 2rem;
    flex: 1;
}

#products-list {
    flex: 6;
}

#products-filter-form div {
    margin: 1rem 0;
}


/* Books */ 

#books-container {
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#books-container li {
    flex: 0 1 10rem;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#books-container li:hover {
    border: 1px solid lightgray;
}

#books-container li .book-price {
    font-size: 0.9rem;
    color: #4d4c4c;
    font-weight: bold;
}

#books-container li .book-price span {
}

#books-container li a {
    text-decoration: none;
    color: black;
}

#books-container .book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
}

#books-container .book img {
    max-height: 20rem;
}

#books-container .book-title {
    line-height: 1.5rem;
}

#books-container .book-title a {
    text-decoration: none;
}


/* Product details screen */

.product-view {
    display: flex;
    width: 100%;
}

.book-genre {
    color: var(--content);
}

.product-details-image img {
    max-height: 90%;
}

.product-details-image {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.submit-button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 15rem;
}

/* Cart */

.cart-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cart-product-list {
    flex: 4;
    width: 100%;
}

.cart-list-container {
    list-style: none;
}

#cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    height: fit-content;
    border-radius: 1rem;
    margin: 1rem;

}

.cart-item-container, .cart-container-header {
    display: flex;
    width: 100%;
}

.cart-container-header h3 {
    flex: 4;
}

.cart-container-header h3:last-child {
    display: flex;
    flex: 1;
    justify-content: center;
}

.cart-item-image {
    flex: 1;
}

.cart-item-details {
    flex: 3;
}

.cart-item-price {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkout-button {
    font-size: 1rem;
}

#address-modal {
    /*display: none;*/
}

/* SignIn, SignUp */

.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
}

.form-container {
    border-radius: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.form-control {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.form-control label {
    /* label is inline by default so to margin won't affect it unless set to inline-block */
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control input {
    display: block;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 1rem;
    padding: 1rem;
    margin: 0.2rem 0;
}

#sign-in-form input,
#sign-up-form input
{
    min-width: 20rem;
}

.form-control i {
    position: absolute;
    top: 3rem;
    right: 1rem;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    visibility: hidden;
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: green;
}

.form-control.error i.fa-check-circle {
    visibility: hidden;
}

.form-control.success i.fa-exclamation-circle {
    visibility: hidden;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.form-control.error small {
    visibility: visible;
    color: red;
}

.form-control.success small {
    visibility: hidden;
}

.form button,
.order-actions button,
.product-actions button,
#products-filter-form button,
#add-to-cart-button,
#checkout-button {
    background-color: var(--content);
    display: block;
    color: white;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    margin-top: 2rem;
}

#checkout-button {
    width: fit-content;
    margin: 1rem;
}

.order-actions button,
#products-filter-form button,
.form button:hover,
#add-new-button,
#add-to-cart-button {
    cursor: pointer;
}

.form-control input:focus{
    outline: none;
}

.form #sign-up-redirect, #sign-in-redirect {
    display: flex;
    justify-content: center;
}

#sign-up-redirect > span,
#sign-in-redirect > span {
    margin: 0 1rem;
    font-weight: bold;
}

#sign-up-redirect, #sign-in-redirect:hover {
    cursor: pointer;
}

/* User profile */

#user-profile-form-container {
    height: fit-content;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem;
    display: flex;
}

.user-profile-wrapper {
    display: flex;
    width: 100%;
}

.user-profile-wrapper #orders-container {
    width: 100%;
}

.orders-container-header {
    font-size: 1.5rem;
    font-weight: bold;
}
/* Slider */

.range-slider {
    width: 100%;
}

.range-slider span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom:3rem ;
}

.range-slider svg,
.range-slider input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%
}

input[type="number"] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1em;
}

input[type="number"]:invalid,
input[type="number"]:out-of-range {
    border: 2px solid #ff6347;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--light-orange);
}
input[type="range"]:focus::-ms-fill-lower {
    background: var(--light-orange);
}
input[type="range"]:focus::-ms-fill-upper {
    background: var(--light-orange);
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--light-orange);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid var(--light-orange);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--light);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--light-orange);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid var(--light-orange);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--light);
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: var(--light-orange);
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid var(--light-orange);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--light);
    cursor: pointer;
}


/* Admin */

#admin-container {
    display: flex;
    width: 100%;
}

#admin-navigation-menu {
    flex: 1;
}

#admin-navigation-content {
    flex: 5;
    height: available;
}

#admin-navigation-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: seashell;
}

#admin-navigation-menu div {
    padding: 1rem;
}

#admin-navigation-menu div:hover{
    background-color: #ffe2c9;
}

#admin-navigation-menu .active {
    background-color: #ffe2c9;
}

.admin-navigation-item a {
    text-decoration: none;
    color: black;
}

/* Admin orders */

#admin-products-container,
#orders-container {
    height: available;
}

#admin-products-container hr,
#orders-container hr {
    border-top: 1px solid lightgray;
}

#orders-container .order-item,
#admin-products-container .product-item {
    padding: 2rem;
    display: flex;
}

#admin-products-container .product-details,
#orders-container .order-details {
    flex: 3;
}

#admin-products-container .product-details div:last-child {
    font-size: 1rem;
    color: dimgrey;
    margin-top: 1rem;
}

#admin-products-container .product-actions,
#admin-products-container .product-availability,
#admin-products-container .product-price,
#orders-container .order-actions,
#orders-container .order-total {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-actions button,
.product-actions button {
    width: fit-content;
    margin-top: 0;
    font-size: 1rem;
}

.product-actions {
    display: flex;
    gap: 0.5rem;
}

#add-new-button {
    border: 1px solid white;
    outline: none;
    color: var(--content);
    background-color: white;
    padding: 1rem;
    font-weight: bold;
    margin: 0 1rem;
}

#add-new-button:hover {
    border: 1px solid var(--content);
    border-radius: 1rem;
}

/* Order details modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    max-width: 50%;
}

/* The Close Button */
#close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#new-product-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#new-product-form .form-control input[type="text"] {
    min-width: 20rem;
}

#new-product-form .form-control input[type="number"] {
    max-width: 10rem;
}

#new-product-form .form-actions {
    display: flex;
    justify-content: center;
}

#new-product-form button {
    width: fit-content;
}


/* Genre selector */

#genre-selector select  {
    padding: 0 1rem;
}